{% extends 'base.html' %}

{% block title_area %}
    <h1><a href="{% url 'post-list' %}">Django Girls Blog</a></h1>
    <span><a href="{% url 'trash-list' %}">move to trash list</a></span>
{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="post">
        <p class="post-date">published : {{ post.published_date }}</p>
        <h2 class="post-title"><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="post-content">{{ post.content|linebreaksbr|truncatewords:20 }}</p>
    </div>
    {% endfor %}
{% endblock %}