{% extends 'base_detail.html' %}

{% block title_area %}
    <h1><a href="{% url 'trash-list' %}">Django Girls Blog - Trash</a></h1>
    <div class="text-right">
        <a href="{% url 'post-list' %}" class="btn btn-info">move to post list</a>
    </div>
{% endblock %}

{% block move-to %}
<div class="row">
    <div class="col-12 text-right">
        <form action="{% url 'trash-rollback' post.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">
                move to post
            </button>
        </form>
    </div>
</div>
{% endblock %}