{% extends 'base.html' %}

{% block title_area %}
    <h1><a href="{% url 'trash-list' %}">Django Girls Blog - Trash</a></h1>
    <div class="text-right">
        <a href="{% url 'post-list' %}" class="btn btn-info">move to post list</a>
    </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="post">
        <p class="post-date">published : {{ post.published_date }}</p>
        <h2 class="post-title"><a href="{% url 'trash-detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="post-content">{{ post.content|linebreaksbr|truncatewords:20 }}</p>
    </div>
    {% endfor %}
{% endblock %}